<tr>
    <td>{{formatDate date}}</td>
    <td>{{number}}</td>
    <td>{{formatPrice total}}</td>
    <td>
        <a class="btn btn-info" role="button" style="float: right;" href="/funkoshop/views/order/{{number}}"
            onclick="Controller.controllers.profile.details_clicked(event,{{number}});">Details</a>
    </td>
</tr>