<div class="col-xl-3 col-lg-4 col-md-6 col-12">
    <div class="card text-black bg-light mb-3">
        <img class="card-img-top" src={{url}} alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">{{name}}</h4>
            <p class="card-text">{{description}}</p>
            <div class="card-price">
                <div class="row justify-content-end">
                    <h3>{{formatPrice price}}&nbsp;</h3>
                    <br>
                    {{!-- <a href="cart.html" class="btn btn-info">Buy</a> --}}
                    <a class="btn btn-info" href="/funkoshop/views/cart" onclick="{{buyProduct_onclick}}(event, {{id}});">Buy</a>
                </div>

            </div>

        </div>
    </div>
</div>